.imgBox {
  float: left;
  margin: 10px 10px 0 0;
  padding: 10px 10px 6px 10px;
  width: 150px;
  background-color: #eee;
}
.btn {
  // float: right;
  display: inline-block;
  width: 40%;
  text-align: center;
}
.toolsBox {
  height: 22px;
  // width: 150px;
  // margin: 0 auto;
}
.topBtnBox {
  height: 50px;
  // border-bottom: 1px solid #eee;
}
.inbox {
  padding: 24px;
}
.pagination {
  clear: both;
  float: right;
}
.text {
  float: right;
  width: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.checkbox {
  :global {
    .ant-checkbox {
      top: -3.4px;
      margin-right: 6px;
    }
    .ant-checkbox + span {
      padding-left: 0;
      padding-right: 5px;
    }
  }
}
.searchModel {
  float: right;
  width: 300px;
  margin-right: 30px;
}
