.simple-upload-small .ant-upload-list.ant-upload-list-picture-card .ant-upload-list-item-container{
    width:64px!important;
    height:64px!important;
}
.simple-upload-small .ant-upload-list.ant-upload-list-picture-card .ant-upload.ant-upload-select{
    width:64px!important;
    height:64px!important;
}
.simple-upload-file-item{
    box-sizing: border-box;
    width: 64px;
    height:64px;
    padding: 6px;
    border:solid 1px #ddd;
    background-color: #fff;
    border-radius: 6px;
}
.simple-upload-file-item :is(.simple-upload-file-item-image,.simple-upload-file-item-file){
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.simple-upload-file-item .simple-upload-file-item-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.simple-upload-file-item-action{
    position: absolute;
    opacity: 0;
    background-color: rgba(0,0,0,0.5);
    transition: all 0.3s ease-in-out;
    display: flex;
    inset: 0;
    align-items: center;
    justify-content: center;
    gap: 8px;
}   
.simple-upload-file-item-action>div{
    color:#fff;
    cursor: pointer;
}
.simple-upload-file-item:not(.disabled):hover .simple-upload-file-item-action{
    opacity: 1;
}
.simple-upload-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}