[submodule "packages/antd"]
	path = packages/antd
	url = git@github.com:ant-design/ant-design.git
[submodule "packages/pro-components"]
	path = packages/pro-components
	url = git@github.com:ant-design/pro-components.git
[submodule "packages/ahooks"]
	path = packages/ahooks
	url = git@github.com:alibaba/hooks.git
[submodule "packages/react"]
	path = packages/react
	url = git@github.com:facebook/react.git
[submodule "packages/antd-mobile"]
	path = packages/antd-mobile
	url = git@github.com:ant-design/ant-design-mobile.git
[submodule "packages/field-form"]
	path = packages/field-form
	url = git@github.com:react-component/field-form.git
[submodule "packages/rc-upload"]
	path = packages/rc-upload
	url = git@github.com:react-component/upload.git
[submodule "packages/rc-table"]
	path = packages/rc-table
	url = git@github.com:react-component/table.git
[submodule "packages/async-validator"]
	path = packages/async-validator
	url = git@github.com:react-component/async-validator.git
[submodule "packages/rc-util"]
	path = packages/rc-util
	url = git@github.com:react-component/util.git
[submodule "packages/dnd-kit"]
	path = packages/dnd-kit
	url = git@github.com:clauderic/dnd-kit.git
[submodule "packages/react-dnd"]
	path = packages/react-dnd
	url = git@github.com:react-dnd/react-dnd.git
[submodule "packages/redux"]
	path = packages/redux
	url = git@github.com:reduxjs/redux.git
[submodule "packages/react-redux"]
	path = packages/react-redux
	url = git@github.com:reduxjs/react-redux.git
[submodule "packages/immutable-js"]
	path = packages/immutable-js
	url = git@github.com:immutable-js/immutable-js.git
[submodule "packages/arco-design-react"]
	path = packages/arco-design-react
	url = git@github.com:arco-design/arco-design.git
[submodule "packages/fast-deep-equal"]
	path = packages/fast-deep-equal
	url = git@github.com:epoberezkin/fast-deep-equal.git
[submodule "packages/dayjs"]
	path = packages/dayjs
	url = git@github.com:iamkun/dayjs.git
[submodule "packages/rc-dialog"]
	path = packages/rc-dialog
	url = git@github.com:react-component/dialog.git
[submodule "packages/react-hook-form"]
	path = packages/react-hook-form
	url = git@github.com:react-hook-form/react-hook-form.git
[submodule "packages/lodash"]
	path = packages/lodash
	url = git@github.com:lodash/lodash.git
	branch = v5-wip
[submodule "packages/react-spring"]
	path = packages/react-spring
	url = git@github.com:pmndrs/react-spring.git
[submodule "packages/zustand"]
	path = packages/zustand
	url = git@github.com:pmndrs/zustand.git
[submodule "packages/inferno"]
	path = packages/inferno
	url = git@github.com:infernojs/inferno.git
[submodule "packages/preact"]
	path = packages/preact
	url = git@github.com:preactjs/preact.git
[submodule "packages/vue"]
	path = packages/vue
	url = git@github.com:vuejs/core.git
[submodule "packages/usehooks"]
	path = packages/usehooks
	url = git@github.com:juliencrn/usehooks-ts.git
[submodule "packages/react-use"]
	path = packages/react-use
	url = git@github.com:streamich/react-use.git
[submodule "packages/swr"]
	path = packages/swr
	url = git@github.com:vercel/swr.git
[submodule "packages/javascript-algorithms"]
	path = packages/javascript-algorithms
	url = git@github.com:trekhleb/javascript-algorithms.git
[submodule "packages/moment"]
	path = packages/moment
	url = git@github.com:moment/moment.git
[submodule "packages/chakra-ui"]
	path = packages/chakra-ui
	url = git@github.com:chakra-ui/chakra-ui.git
[submodule "packages/threejs"]
	path = packages/threejs
	url = git@github.com:mrdoob/three.js.git
[submodule "packages/pixijs"]
	path = packages/pixijs
	url = git@github.com:pixijs/pixijs.git
[submodule "packages/zrender"]
	path = packages/zrender
	url = git@github.com:ecomfe/zrender.git
[submodule "packages/redux-saga"]
	path = packages/redux-saga
	url = git@github.com:redux-saga/redux-saga.git
[submodule "packages/echarts"]
	path = packages/echarts
	url = git@github.com:apache/echarts.git
[submodule "packages/signals"]
	path = packages/signals
	url = git@github.com:preactjs/signals.git
[submodule "packages/alien-signals"]
	path = packages/alien-signals
	url = git@github.com:stackblitz/alien-signals.git
