.proForm{
    width:100%;
    padding:0px 4px!important;
}
.proFormSearchExpand{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    :global{
        .ant-pro-query-filter-row{
            align-items: center;
            margin-left: 0!important;
            margin-right: 0!important;
        }
    }
    .proFormSearchExpandBtn{
        margin-inline-start: 0!important;
        padding: 0!important;
    }
}
.proFormSearch{
    display: flex;
    flex-wrap: wrap;
}