.upload{

}
.uploadSmall{
    :global{
        .ant-upload-list.ant-upload-list-picture-card .ant-upload-list-item-container{
            width:64px!important;
            height:64px!important;
        }
        .ant-upload-list.ant-upload-list-picture-card .ant-upload.ant-upload-select{
            width:64px!important;
            height:64px!important;
        }
    }
}
.uploadSmall .uploadBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.uploadListItem{
    box-sizing: border-box;
    width: 100%;
    height:100%;
    padding: 6px;
    border:solid 1px #ddd;
    background-color: #fff;
    border-radius: 6px;
}
.uploadListItem .uploadListItemImage,.uploadListItemFile{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.uploadListItemImage{
    :global{
        img{
                width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}
.uploadListItem .uploadListItemAction{
    position: absolute;
    opacity: 0;
    background-color: rgba(0,0,0,0.5);
    transition: all 0.3s ease-in-out;
    display: flex;
    inset: 0;
    align-items: center;
    justify-content: center;
    gap: 8px;
    :global{
        div{
            color:#fff;
            cursor: pointer;
        }
    }
}
.simple-upload-file-item-action>div{
    color:#fff;
    cursor: pointer;
}
.disabled{

}
.uploadListItem:not(.disabled):hover .uploadListItemAction{
    opacity: 1;
}