.base-box {
    padding: 12px 16px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
}

.header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 8px;

    &:not(:has(&-action)) {
        grid-template-columns: 1fr;
    }

    &-children {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-right {
        justify-content: flex-end;
    }
    
    &-action {
        justify-self: end; 
    }
}

.mb-4 {
    margin-bottom: 16px;
}

.base-box + .base-box {
    margin-top: 16px;
}
  .ahSearchForm {
        gap: 8px;
        display: flex;
        flex-wrap: wrap;
        :global{
              .ant-form-item {
                margin: 0 !important;
            }
        }
    }
:global {
    .ah-search-form {
        gap: 8px;
               display: flex;
        flex-wrap: wrap;
        .ant-form-item {
            margin: 0 !important;
        }
    }

    .ah-cascader {
        /*在 ant-cascader-menu-item 下没有 .ant-cascader-menu-item-expand-icon 下时才选中 .ant-cascader-menu-item-content */
        .ant-cascader-menu-item:not(:has(.ant-cascader-menu-item-expand-icon)) .ant-cascader-menu-item-content {
            width: 400px;
            word-break: break-all;
            white-space: normal;
        }
    }
}
.proFormSearchExpand{
    justify-content: flex-end!important;
}
.proFormSearchExpandBtn{
    margin-inline-start: 0!important;
    padding: 0!important;
}