.stepForm{
    width: 600px!important;
}
.formContent{
    margin-top: 15px;
}
.cardTitle{
    :global{
        .ant-card-head{
            min-height: auto;
            background-color: #f6f6f6;
        }
        .ant-card-head-title{
            padding: 4px 0;
        }
    }
}
.hidden{
    display: none;
}