// @import (reference) "~antd/es/style/themes/default.less";
$primary-color:'#0088ff';

.navTabs {
    height: 100%;
    width: 100%;
  :global(> .ant-tabs) {
    background-color: #ffffff !important;
    // padding-block-end: 2px !important;
    margin-bottom: 0 !important;
    height: 100%!important;

    :global(> .ant-tabs-nav) {
      background-color: #ffffff !important;
      // padding-block-end: 2px !important;
      margin-bottom: 0 !important;

      :global(> .ant-tabs-nav-wrap) {
        :global {
          .ant-tabs-tab-active {
            &::before {
              content: "";
              display: block;
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              height: 2px;
              background-color: $primary-color;
            }
          }
          .ant-tabs-nav-add {
            padding: 0 !important;
            min-width: 20px !important;
          }
          .ant-tabs-card.ant-tabs-top
            .ant-tabs-nav
            .ant-tabs-tab
            + .ant-tabs-tab {
            margin-left: 0 !important;
          }
        }
      }
    }
  }

  .tabOparationCon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}

.pageBreadcrumb {
  padding: 0px 15px;
  // background: #fff;
  // border-bottom: solid 1px #e2e2e2;
}
